body {
  font-family: "Montserrat", sans-serif;
}

#title {
  background-color: rgb(255, 0, 76);
  color: white;
}

#navbar {
  padding: 0.5rem 1rem;
  padding: 0 0 4.5rem;
  color: blue;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 5%;
  line-height: 2.5;
}

/* big heading */
.tagline {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 300%;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5rem;
}

h3 {
  font-style: bold;
}

p {
  color: gray;
}

.container {
  padding: 3% 15% 7%;
}

/* Navigation bar */

#navBrand {
  font-family: cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */



.title-image {
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;


  /* top: 1px; */
}

#features {
  position: relative;
  text-align: center;
  padding: 7% 15%;
  background-color: white;
  z-index: 1;
}

.fas {
  color: #ff004c;
  margin-bottom: 10px;
}

.fas:hover {
  color: rgb(185, 0, 71);
}

/* Testimonial section */

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ff004c;
  color: #fff;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press section */

#press {
  background-color: #ff004c;
  color: #fff;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* priceing section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-colum {
  padding: 3% 2%;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* cta section */
#cta {
  background-color: #ff004c;
  text-align: center;
  color: white;
  padding: 7% 15%;
}

.cta-heading {

  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

#footer {
  padding: 10%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}